system-config.js*
src/**/*.js
src/**/*.map
jspm_packages
bower_components
aot/*
lib/*
src/daterangepicker/*.json
yarn.lock

# Ignore Compass/SASS cache
.sass-cache

# Ignore Mac DS_Store files
.DS_Store
.idea

## Ignore Python optimisation/cache
__pycache__/

# Ignore Node Modules
node_modules
npm-debug.log

# Ignore Typescript typings
typings

# Ignore build and dist folders
dist
build

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Temporary Word/Office files
~$*

# compressed archives
*.zip
*.tar.gz
*.tar.bz
*.tar
*.rar
*.tgz

npm-debug.log.*
