<main class="container-fluid">
    <h1>ng2-daterangepicker (Samples)</h1>
    <br /><br />

    <form>
        <div class="form-group" *ngFor="let dateInput of dateInputs">

            <div class="input-group" daterangepicker [options]="{startDate:dateInput.start, endDate:dateInput.end }" (selected)="selectedDate($event, dateInput)" >
                <span class="form-control uneditable-input"  name="daterange" >
                    {{ dateInput.start | date:'M/dd/y' }} - {{ dateInput.end| date:'M/dd/y' }}
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>

            <br />

            <pre>{{ dateInput | json }}</pre>
            <hr />
        </div>
    </form>

</main>
