<div>
  <div class="container">
    <h1>Angular 9</h1>
    <label for="date">Select Date</label>

    <div class="input-group" daterangepicker [options]="picker1" (selected)="selectedDate($event, chosenDate)"
      (applyDaterangepicker)="applyDatepicker($event)" (showDaterangepicker)="calendarEventsHandler($event)">
      <span class="form-control uneditable-input" name="daterange">
        {{ chosenDate.start | date:'mediumDate' }} - {{ chosenDate.end| date:'mediumDate' }}
      </span>
      <span class="input-group-btn">
        <a type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></a>
      </span>
    </div>

  </div>
</div>
